body {
    font-family: 'Arial', sans-serif;
    background-color: #d7eff2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: linear-gradient(135deg, #d62d03, #e2aa7f);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
}

#week {
   font-size: 45px;
    color: #fff;
    margin: 0;
}

#currentDate {
    font-size: 35px;
    color: #fff;
    margin-top: 10px;
}
